.App {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  flex: 1;
  padding: 1rem;
  max-height: 100%;
  padding-top: var(--header-height);
  padding-bottom: var(--navbar-height);
}
/* .page {
  display: flex; 
  flex-direction: column; 
  height: calc(100vh - var(--navbar-height));
  overflow: auto;
} */
