:root {
    --header-height: 60px;
    --max-screen-width: 2520px;
}

.header-dropdown {
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
}


header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-layout {
    display: flex;
    flex: 1;
    justify-content:space-between;
    max-width: var(--max-screen-width);
    align-items: center;
    padding: 0 40px;
}

/* .home-button {
    position: fixed;
    left: 0;
    top: 0;
} */